

.card-my {
    width: 250px;
    height: fit-content;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 180px 180px 60px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 3rem;
}

.card-image-my {
    grid-area: image;
}

.card-text-my {
    grid-area: text;
}

.card-stats-my {
    grid-area: stats; 
}

.card-image-my {
    grid-area: image;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.card-text-my {
    grid-area: text;
    margin: 25px;
}
.card-text-my .date {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card-text-my p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}
.card-text-my h2 {
    margin-top:0px;
    font-size:28px;
}

.card-stats-my .stat-my {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}


.card-stats-my  {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-my:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.my-worm-gain{
    background: rgb(252, 0, 139);
}
.my-ice-loss{
    background-color: rgb(50, 50, 255);
    color: blue;
}