.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #4d0050;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    font-size: 0.7rem;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.main-content-toon-info-cell{
    color: red;
}

.main-content-toon-info-purchase{
    color: blue;
}